<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>关于我</title>
<link rel="stylesheet" href="/static/css/zui.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/zui.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/myzui.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/heartclick.js"></script>
<script src="/static/js/starback.js"></script>
<script src="/static/js/cat.js"></script>
<script src="/static/js/common.js"></script>
</head>
<body>
<div id="app">
	<!-- 引入共有头部 -->
	<div th:replace="header ::header"></div>
	<div style="padding-top:58px;">
		<div class="row layout-page">
			<div class="about">
				<h1>关于自己</h1>
				<div class="about-container">
					<blockquote>
						<p>
							Never put off till tomorrow what you can do today.
							<br>
							—— Thomas Jefferson
						</p>
					</blockquote>
					<div class="code-area-wrap">
						<div class="highlight-tools">
							<i class="fa fa-angle-down code-expand"></i>
							<div class="code-lang">java</div>
						</div>
						<figure class="highlight java">
							<table>
								<tbody>
									<td class="gutter">
											<span class="line">1</span>
											<br>
											<span class="line">2</span>
											<br>
											<span class="line">3</span>
											<br>
											<span class="line">4</span>
											<br>
											<span class="line">5</span>
											<br>
											<span class="line">6</span>
											<br>
									</td>
									<td class="code">
											<span class="line">Name: Dream</span>
											<br>
											<span class="line">Age: 23</span>
											<br>
											<span class="line">Gender: male</span>
											<br>
											<span class="line">Address: Changsha</span>
											<br>
											<span class="line">Github: https://github.com/soloyao</span>
											<br>
											<span class="line">Blog: https://dreamz.com</span>
											<br>
									</td>
								</tbody>
							</table>
						</figure>
					</div>
				</div>
			</div>
			<div th:replace="aside-info :: aside-info"></div>
		</div>
	</div>
	<!-- 引入共有底部 -->
	<div th:replace="footer :: footer"></div>
	<!-- 引入回到顶部按钮 -->
	<div th:replace="rightside :: rightside"></div>
</div>
<link rel="stylesheet" href="/static/css/about.css">
<script src="/static/js/about.js"></script>
</body>
</html>